body {
  background-color: #666666;
}

.flexContainer {
  display: flex;
  flex-flow: column nowrap;
}

.voteForm, .resultDiv {
  background-color: #777777;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}