body {
  background-color: #999999;
}

.flexContainer {
  display: flex;
  flex-flow: column nowrap;
}

.voteForm, .resultDiv {
  background-color: #aaaaaa;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0.5%;
}

#voteResultsChart {
  align-self: center;
  background-color: #aaaaaa;
  margin: 0.5%;
}